<!--The content below is only a placeholder and can be replaced.-->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
     
      <li class="nav-item">
        <h5><a routerLink="home" class="nav-link" routerLinkActive="active">
          Home
        </a></h5>
      </li>
     
      <li class="nav-item">
        <h5><a routerLink="aboutme" class="nav-link" routerLinkActive="active">
          About Me
        </a></h5>
      </li>

      <li class="nav-item">
        <h5><a routerLink="projects" class="nav-link" routerLinkActive="active">
          Projects
        </a></h5>
      </li>

      <li class="nav-item">
        <h5><a routerLink="services" class="nav-link" routerLinkActive="active">
          Services
        </a></h5>
      </li>

      <li class="nav-item">
        <h5><a routerLink="contactme" class="nav-link" routerLinkActive="active">
          Contact Me
        </a></h5>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
